<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../spectrum-css/spectrum-light.css">
    <title>Extension Configuration</title>
  </head>
  
  <body class="spectrum spectrum--light">
    <h1 class="spectrum-Heading--pageTitle">Add Hotjar capabilities to your site.</h1>
    <label class="spectrum-FieldLabel">Site ID (Numbers only)</label>
    <input class="spectrum-Textfield" id="siteId" type="number" placeholder="ex. 123456" autofocus>
    <p>If you are unfamiliar with Hotjar, learn more <a class="spectrum-Link" href="https://www.hotjar.com/" target="_blank">here</a>.</p>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var siteIdInput = document.querySelector('#siteId');

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            siteIdInput.value = info.settings.siteId
          }
        },

        getSettings: function() {
          return {
            siteId: siteIdInput.value
          }
        },

        validate: function() {
          if (!siteIdInput.value) { 
            siteIdInput.classList.add("is-invalid");
          } else {
            siteId.classList.remove("is-invalid");
            siteId.classList.add("is-valid");
          }
          return Boolean(siteIdInput.value);
        }
      });
    </script>
  </body>
</html>
